/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Define your color constants as CSS variables */
  --background-color: #ffe6cd;
  --text-color: #000000;
  --button-color: #222222;
  --button-text-color: #ffffff;
}

/* Apply global styles using the defined variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

/* Any other global styles can be defined here */
